/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui;
  font-size: 10pt;
}

body {
  margin: 10px;
  background: #fae9d3;
}

/* Generic classes */
.flex {
  display: flex;
}
.flex-column {
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.flex-row {
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.margin-left {
  margin-left: 5px;
}
.margin-left-double {
  margin-left: 10px;
}
.margin-bottom {
  margin-bottom: 5px;
}
.margin-top {
  margin-top: 5px;
}
.bullets-none {
  list-style-type: none;
}

/* Keys */
#keyboard {
  border-style: solid;
  border-color: black;
  border-radius: 6px;
  border-width: 1px;
  padding: 10px;
  background-color: #423c34;
}
.key {
  font-style: normal;
  text-align: center;
  border-style: outset;
  border-color: #d3d3d3;
  border-radius: 3px;
  border-width: 1px;
  background-color: #d3d3d3;
}
.key-accentuated {
  background-color: #ffffff;
  border-color: #ffffff;
}
.key-disabled {
  background-color: #423c34;
  border-color: #2f2e2e;
}
.key-inline {
  display: inline-block;
  padding: 3px 5px;
  min-width: 28px;
}
.key-large {
  padding: 6px;
  height: 32px;
  line-height: 18px;
  min-width: 32px;
  max-width: 32px;
  display: block;
}
.key-wide-1 {
  min-width: 48px;
  max-width: 48px;
}
.key-wide-2 {
  min-width: 58px;
  max-width: 58px;
}
.key-wide-3 {
  min-width: 68px;
  max-width: 68px;
}
.key-wide-x {
  min-width: unset;
  max-width: unset;
  width: -webkit-fill-available;
}
.icon {
  max-height: 18px;
  max-width: 18px;
  display: inline-block;
}
.icon-fallback {
  height: 18px;
  width: 18px;
  display: inline-block;
  border-radius: 2px;
  background-color: #2077ff;
  color: #ffffff;
  font-weight: bold;
  overflow: hidden;
}

/* Tabs list */
.tab {
  padding: 5px;
  margin-bottom: 5px;
  border-style: none;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px black;
  background-color: #ffffff;
  overflow: hidden;
  white-space: nowrap;
}
